@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
*{
    box-sizing: border-box;
}

body,html{
    height: 100vh;
    font-family: 'Quicksand', sans-serif;

    margin: 0;
    overflow-x:hidden ;
}

/* Background Image  */

.bgimg1,.bgimg2,.bgimg3,.bgimg4,.bgimg5{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg1{
    opacity: 0.8;
    height: 100%;
    background-image: url(../img/a7.jfif);
    background-position: bottom;
}

.bgimg2{
    /* opacity: 1; */
    height: 500px;
    background-image: url(../img/a5.jfif);
    background-position: top;
}

.bgimg3{
    opacity: 0.8;
    height: 500px;
    background-image: url(../img/a6.jfif);
    background-position: top;
}

.bgimg4{
    opacity: 1;
    height: 500px;
    background-image: url(../img/Cool\ wallpaper.jfif);
    background-position :bottom; 
}

.bgimg5{
    opacity: 1;
    width: 300px;
    height: 300px;
    background-image: url(../img/a2.jfif);
    background-position: top;
}

/* Menu bar  */

.menu-bar{
    /* display: inline-block; */
    width: 100%;
    text-align: right;

    position: fixed;
    top: 0;

    z-index: 1;
}

.menu-bar a{
    text-decoration: none;
    font-size: 20px;
    color: #d6d2d2;
    margin:30px 20px;
    /* padding: 20px 30px 0px 30px; */

    text-align: center;

    position: relative;

    transition: all ease-in-out .4s;
}

/* menu bar hover effect  */
.menu-bar a::before , .a1::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;

    position: absolute;
    top: 25px;
    left: 0;

    transform: rotateY(90deg);

    transition: all ease-in-out .4s;
}

.menu-bar a:hover:before{
    transform: rotateY(0deg);
}
.menu-bar a:hover{
    color: #f0f0f0;
}

/* home page  */
.home{
    height: 100%;
    color: #f0f0f0;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    position:relative;
}

.home h2{
    font-size: 50px;
    cursor: pointer;
    padding: 10px 30px;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.603),5px 5px 5px rgba(0, 0,0,0.2);
    background-origin: padding-box;
}

.home span{
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;

}

/* Total Time  */

.div1{
    height: 25vh;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.countup{ 
    height: 100%;   
    color: white;
    font-size: 30px;
    font-weight: 800;

    display: flex;
    align-items: center;
    justify-content: center;
}
.countup h3{
    opacity: .8;
    padding: 10px 30px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.514);
    background-origin: padding-box;
}

/* Intro text  */
.intro{
    height: 35%;
    font-size: 23px;
    text-align: center;

    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
}

.intro a{
    text-decoration: none;
    color:#030303;
    background-color: rgba(168, 168, 168, 0.815);
    padding: 15px 35px;
}

.intro a:hover{
    background-color: rgba(114, 114, 114, 0.925);
}

/* Wedding day info */
.wedding-day{
    width: 100%;
}

.wedding-day h3{
    /* height: 15vh; */
    font-size: 30px;
    text-align: center;


    display: flex;
    align-items: center;
    justify-content: center;
}

.middle{
    width: 100%;
    height: 60vh;
    background-color: gray;

    position: relative;

}

.middle a h4{
    font-size: 30px;
}
.time a,.place a,.ourstory a{
    text-decoration: none;
    font-size: 23px;
    font-weight: 900;
    color: #000;

}
.time{
    width: 300px;
    height: 80%;

    background:wheat;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;

    position: absolute;
    top: 40px;
    left: 5%;

    transition: all ease .5s;
}
.place{
    width: 300px;
    height: 80%;

    background:wheat;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;

    position: absolute;
    top: 40px;
    left: 40%;

    transition: all ease .5s;
}

.ourstory{
    width: 300px;
    height: 80%;

    background:wheat;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;

    position: absolute;
    top: 40px;
    right: 5%;
    
    transition: all ease .5s;
}

.time:hover , .place:hover, .ourstory:hover{
    transform: scale(1.1);
}

 /* Scrollbar styles */
 ::-webkit-scrollbar {
    width: 5px;
    /* height: auto; */
    }
  

@media(max-device-width: 1250px) {
 .time{
     left: 3%;
 }

 .place{
     left: 37%;
 }

 .ourstory{
     right: 3%;
 }
}

@media(max-width:1200px){
    /* .menu-bar{
        overflow: auto;
        white-space: nowrap;
    } */

    .home h2{
        width: 300px;
        font-size: 30px;
        padding: 10px 20px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.603),5px 5px 5px rgba(0, 0,0,0.2);
    }
    .home span{
        font-size: 10px;   
    }
    .countup{ 
        height: 100%;   
        color: white;
        font-size: 20px;
    }
    .div1{
        height: 100px;
        font-size: 20px;
    }
    .intro{
        height: 30%;
        font-size: 20px;
    }
    
    .intro a{
        text-decoration: none;
        color:#030303;
        background-color: rgba(168, 168, 168, 0.815);
        padding: 10px 20px;
    }

    .intro a:active{
        background-color:rgba(168, 168, 168, 0.63) ;
    }

    .wedding-day h3{
        text-align: center;
        font-size: 20px;
    }

    .middle a h4{
        font-size: 20px;
    }

    .time a,.place a,.ourstory a{
        text-decoration: none;
        font-size: 15px;
        font-weight: 900;
        color: #000;
    
    }

    .time{
        width: 200px;
        height: 80%;

        left: 5%;
       
        transition: all ease .5s;
    }
    .place{
        width: 200px;
        height: 80%;
        left: 42.5%;
    
        transition: all ease .5s;
    }
    
    .ourstory{
        width: 200px;
        height: 80%;
        right: 5%;
        
        transition: all ease .5s;
    }

}
